.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forecast h5 {
  margin: 10px;
}

.forecast-temp {
  margin: 10px;
  font-weight: 300;
  font-size: 0.7rem;
}
.high {
  margin-right: 10px;
  font-weight: 900;
}
