.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.3rem;
  margin: 15px;
  font-weight: 400;
}
h3 {
  font-size: 15px;
  font-weight: 300;
  margin: 5px;
  color: #61d9fb;
}

.weather-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.weather-temperature {
  font-size: 2rem;
}
.weather-temperature span {
  vertical-align: super;
  font-size: 1rem;
}

.weather-info {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  font-weight: 300;
}
.weather-span__whiter {
  font-weight: 900;
}

.temp-high-low {
  display: flex;
  margin: 15px;
  font-weight: 300;
  font-size: 0.8rem;
}
.temp-high-low div {
  margin-right: 10px;
  margin-left: 10px;
}
.temp-high-low span {
}

@media (max-width: 400px) {
  .weather-content {
    /* padding-left: 40px; */
    justify-content: space-evenly;
  }
}
